<aside id="sideBarRight" class="col-3 col-md-3">
  <div class="d-flex flex-column flex-shrink-0 p-3" style="height: 100vh; width: 280px" ;>
    <div class="container wHappeningBox mb-3">
      <div class="container mt-3">
        <h3 class="asideRightTitle mb-4">What's happening</h3>
        <div class="mb-4">
          <p class="asideRightGrayText mb-1">Programming · Trending</p>
          <p class="asideRightBlackText mb-1">#MongoVsSequelize</p>
          <p class="asideRightGrayText mb-1">97.5K Tweets</p>
        </div>
        <div class="mb-4">
          <p class="asideRightGrayText mb-1">Entertainment · Trending</p>
          <p class="asideRightBlackText mb-1">#StarWars</p>
          <p class="asideRightGrayText mb-1">97.5K Tweets</p>
        </div>
        <div class="mb-4">
          <p class="asideRightGrayText mb-1">News · Trending</p>
          <p class="asideRightBlackText mb-1">#LifeInMars</p>
          <p class="asideRightGrayText mb-1">97.5K Tweets</p>
        </div>
      </div>
    </div>
    <div class="container whoFollowBox">
      <div class="container mt-4">
        <h3 class="asideRightTitle mb-4">Who to follow</h3>
        <div class="container row mb-3">
          <div class="col-3">
            <img class="miniatura rounded-circle" src="/img/images.jpeg" alt="" />
          </div>
          <div class="col-6">
            <div class="row asideRightBlackText">Emi Gaucher</div>
            <div class="row asideRightGrayText">@EmiGaucher</div>
          </div>
          <div class="col-2">
            <button class="whoFollowBtn">Follow</button>
          </div>
        </div>
        <div class="container row mb-3">
          <div class="col-3">
            <img class="miniatura rounded-circle" src="/img/images.jpeg" alt="" />
          </div>
          <div class="col-6">
            <div class="row asideRightBlackText">Andres Prieto</div>
            <div class="row asideRightGrayText">@Andres77</div>
          </div>
          <div class="col-3">
            <button class="whoFollowBtn">Follow</button>
          </div>
        </div>
        <div class="container row mb-3">
          <div class="col-3">
            <img class="miniatura rounded-circle" src="/img/images.jpeg" alt="" />
          </div>
          <div class="col-6">
            <div class="row asideRightBlackText">Mateo Gomez</div>
            <div class="row asideRightGrayText">@Matew24</div>
          </div>
          <div class="col-3">
            <button class="whoFollowBtn">Follow</button>
          </div>
        </div>
        <div class="container row mb-3">
          <div class="col-3">
            <img class="miniatura rounded-circle" src="/img/images.jpeg" alt="" />
          </div>
          <div class="col-6">
            <div class="row asideRightBlackText">Juan Chitaro</div>
            <div class="row asideRightGrayText">@Chitaro97</div>
          </div>
          <div class="col-3">
            <button class="whoFollowBtn">Follow</button>
          </div>
        </div>
        <div class="container row mb-3">
          <div class="col-3">
            <img class="miniatura rounded-circle" src="/img/images.jpeg" alt="" />
          </div>
          <div class="col-6">
            <div class="row asideRightBlackText">Hack Academy</div>
            <div class="row asideRightGrayText">@HackAcademyDev</div>
          </div>
          <div class="col-3">
            <button class="whoFollowBtn">Follow</button>
          </div>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</aside>
