#profile_portrait {
  width: 100%;
  height: 200px;
  background-color: #1d9bf0;
  margin-top: 90px;
}

#profile_info {
  position: relative;
  width: 100%;
  height: 252px;
  padding-left: 30px;
  padding-right: 39px;
}

#div_profile_img {
  position: absolute;
  top: -70px;
  left: 10px;
  width: 140px;
  height: 140px;
  border-radius: 70px;
  border: 7px solid #ffffff;
  overflow: hidden;
}

#profile_img {
  width: 100%;
  height: 100%;
  border-radius: 70px;
  object-fit: cover;
}

#edit_profile {
  position: absolute;
  top: 0;
  right: 0;
  height: 32px;
  width: 80px;
}

#btn_edit_profile {
  font-size: 0.9rem;
  position: absolute;
  top: 15px;
  right: 38px;
  height: 32px;
  width: 120px;
  border-radius: 50px;
  padding-top: 5px;
  background-color: #1d9bf0;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  border: none;
}

#btn_edit_profile:hover {
  background-color: rgb(26, 140, 216);
}

#following-btn-profile {
  position: absolute;
  top: 15px;
  right: 38px;
  width: 105px;
  height: 32px;
  background: #ffffff;
  border-radius: 45px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #000000;
  border: 1px solid rgb(207, 217, 222);
}

.hover-effect:hover,
.hover-effect:hover #following-btn-profile {
  background-color: #f8f8f8;
}

#following-btn-profile::before {
  content: "Following";
  color: #000000;
}

#following-btn-profile:hover::before {
  display: none;
}

#following-btn-profile:hover::after {
  content: "Unfollow";
  color: red;
}

#following-btn-profile:hover {
  border: 1px solid rgb(232, 34, 12);
}

#btn-save-changes {
  width: 105px;
  height: 32px;
  background: #1d9bf0;
  border-radius: 45px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #ffffff;
  border: none;
}
#btn-save-changes:hover {
  background: rgb(26, 140, 216);
  border-radius: 45px;
}

#profile_info_2 {
  margin-top: 100px;
}

#profile_name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

#profile_username {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #647788;
}

.profile_numbers {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.profile_ff {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #647788;
}

#nav_letter {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

#like-btn,
#delete-tweet-btn {
  background: none;
  border: none;
}

.modal-letter {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
