/* Colocar aquí CSS "propio". */
/* Rectangle 3 */

/*Aside right*/
.wHappeningBox,
.wHappeningTitle,
.wHappeningGrayText,
.wHappeningBlackText {
  font-family: "Roboto", sans-serif;
}

.miniatura {
  height: 50px;
  width: 50px;
}
.wHappeningBox {
  width: 100%;
  min-width: 340px;
  height: 350px;
  left: 1225px;
  top: 18px;
  background: #f7f9f9;
  border-radius: 15px;
}

.asideRightTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.asideRightGrayText {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #647788;
}

.asideRightBlackText {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.whoFollowBox {
  width: 100%;
  min-width: 340px;
  height: 400px;
  left: 825px;
  top: 334px;
  padding: 3px 20px 20px 20px;
  background: #f7f9f9;
  border-radius: 15px;
}

.whoFollowBtn {
  width: 79px;
  height: 32px;
  background: #1d9bf0;
  border-radius: 45px;
  font-family: "Inter" sans-serif;
  color: white;
  border: none;
  font-weight: 600;
}

.whoFollowBtn:hover {
  background-color: rgb(26, 140, 216);
}

#createAccount-btn {
  border: 1px solid #000000;
  border-radius: 45px;
  color: rgb(15, 20, 25);
  font-weight: 600;
  background-color: #ffffff;
  height: 40px;
}

#createAccount-btn:hover {
  background: #f3f3f3;
}

#advice {
  font-size: 0.8rem;
}

.terms {
  text-decoration: none;
  color: #1d9bf0;
}
/*termina aside right
/* Rectangle 3 */
